.tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  margin-top: 30px;
  justify-content: center;
}

.task-card {
  width: 381px;
  height: 217px;
  border-radius: 15px;
  border: 1px solid #f7bc30;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 28px;
}

.task-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.priority-department {
  display: flex;
  align-items: center;
  gap: 12px;
}

.priority {
  display: flex;
  align-items: center;

  width: 86px;
  height: 26px;
  border-radius: 4px;

  gap: 4px;
  padding: 4px;

  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

.priority img {
  width: 16px;
  height: 16px;
}

.department {
  width: 88px;
  height: 24px;
  border-radius: 15px;
  gap: 10px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;
  padding-left: 9px;

  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.deadline {
  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}

.task-content {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.taskList-title {
  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: bold;
}

.task-descriptions {
  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343a40;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.employee-avatar {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-count-num {
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-family: 'FiraGO', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  color: #212529 !important;
}

.comment-count-num img {
  width: 22px;
  height: 22px;
}
