.specificTask-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 223px;
  margin-top: 40px;
}

.task-info {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;

  width: 715px;
}

.filteredIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding-bottom: 12px;
}

.filterStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.25px;

  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  width: 106px;
  height: 32px;
  padding-top: 4px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;

  border-radius: 3px;
}

.filterStatus img {
  width: 13.5px;
  height: 10px;
}

.filteredDepart {
  width: 88px;
  height: 29px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  gap: 10px;
  border-radius: 15px;
  background-color: #ff66a8;

  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-description {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-top: 36px;
}

.desc-text {
  color: #000000;
  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;

  text-align: left;
}
.task-detalies {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  margin-top: 73px;
}

.task-detalies-title {
  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: bold;
  color: #2a2a2a;
}
.task-title {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
  font-size: 34px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  color: #212529 !important;
}
.task-detalie-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-top: 41px;
}

.task-status-text {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 23px 0px 23px 0px;

  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #474747;
}
.task-status-api {
  padding: 23px 0px 23px 0px;
}
.status-get {
  width: 259px;
  height: 45px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 14px;
}

.employee {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.employee-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.employe-name {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5.5px;
}

.employe-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dep {
  font-family: 'FiraGO', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: #474747;
}

.user-name {
  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: bold;
  color: #0d0f10;
}

.deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.deadline-result {
  font-family: 'FiraGO', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0d0f10;
}
