.status-container {
  display: flex;
  gap: 52px;
  flex-wrap: wrap;
  margin-top: 24px;
  z-index: 999;
}

.status-button {
  border: none;
  cursor: pointer;
  width: 381px;
  height: 54px;
  border-radius: 10px;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: 'FiraGO', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.status-0 {
  background-color: #f7bc30;
}

.status-1 {
  background-color: #fb5607;
}

.status-2 {
  background-color: #ff006e;
}

.status-3 {
  background-color: #3a86ff;
}

.status-button:hover {
  opacity: 0.8;
}


@media (max-width: 768px) {
  .status-container {
    gap: 20px;
    justify-content: center;
  }

  .status-button {
    width: 250px;
    height: 45px;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .status-container {
    gap: 15px;
    flex-direction: column;
    align-items: center;
  }

  .status-button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
